import * as React from 'react';
import I{{properCase name}} from './I{{properCase name}}';
import './{{properCase name}}.scss';

type State = {};

export default class {{properCase name}} extends React.Component<I{{properCase name}}, State> {
    state: State = {};
    render() {

        return (
            <div>
                Hello to {{properCase name}}
            </div>
        );
    }
}
