import * as React from 'react';
import I{{properCase name}} from './I{{properCase name}}';
import'./{{properCase name}}.scss';

const {{properCase name}}: React.SFC<I{{properCase name}}> = (props) => {
    const {} = props;

    return (
        <div>
            Hello to {{properCase name}}
        </div>
    );
};

export default {{properCase name}};
